In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
# Print schools
for school in high_schools:
    print(school)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                     {"High School": "Figueroa", "Type":"District"},
                     {"High School": "Wilson", "Type":"Charter"},
                     {"High School": "Wright", "Type":"Charter"}]

In [ ]:
#Print dictionary
for index in range(len(high_school_types)):
    for key, value in high_school_types[index].items():
        print(key, value)

In [1]:
# Add Pandas dependency.
import pandas as pd

In [ ]:
#Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
# Convert to DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter","Charter","Charter", "District","Charter","Charter","Charter", "District", "District", "District","Charter"]

In [ ]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

# Print the DataFrame.
schools_df

In [ ]:
#Get attributes
schools_df.columns
schools_df.index
schools_df.values

In [2]:
class Cat:
    def __init__(self, name):
        self.name = name

In [3]:
class Cat:
    def __init__(self, name):
        self.name = name

In [4]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [5]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [6]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'